/TWR-KW24D512/boards/twrkw24d512/rtos_examples/freertos_queue/release
/TWR-KW24D512/boards/twrkw24d512/rtos_examples/freertos_queue/debug
/TWR-KW24D512/boards/twrkw24d512/rtos_examples/freertos_queue/iar/Debug
/TWR-KW24D512/boards/twrkw24d512/rtos_examples/freertos_queue/iar/Release
/TWR-KW24D512/boards/twrkw24d512/rtos_examples/freertos_queue/iar/settings
/TWR-KW24D512/cscope_source_test.files
/TWR-KW24D512/tags
/TWR-KW24D512/cscope.files
/TWR-KW24D512/cscope.out
/TWR-KW24D512/boards/twrkw24d512/rtos_examples/freertos_sem/iar/settings
/TWR-KW24D512/boards/twrkw24d512/rtos_examples/freertos_sem/iar/Debug
/TWR-KW24D512/boards/twrkw24d512/rtos_examples/freertos_sem/iar/release
/TWR-KW24D512/boards/twrkw24d512/rtos_examples/freertos_mutex/release
/TWR-KW24D512/boards/twrkw24d512/rtos_examples/freertos_mutex/debug
/TWR-KW24D512/boards/twrkw24d512/rtos_examples/freertos_mutex/iar/debug
/TWR-KW24D512/boards/twrkw24d512/rtos_examples/freertos_mutex/iar/release
/TWR-KW24D512/boards/twrkw24d512/rtos_examples/freertos_mutex/iar/settings
